<div class="row">
    <label class="form-control-label">Cellar: {{userCellar?.id}}</label>
    
</div>
<div class="row">
    <label class="form-control-label">Added on: {{userCellar?.createdAt}}</label>
</div>
<div class="row">
    <label class="form-control-label">Owner on: {{owner?.firstname}} {{owner?.lastname}}</label>
</div>
<div class="row">
    <label class="form-control-label">Members subscribed to cellar: {{SubscriberCount()}}</label>
</div>
<div class="row">
    <label class="form-control-label">Cellar size: {{userCellar?.attributes?.size}}</label>
</div>
<div class="">
    <label class="form-control-label">Distribution thresholds:</label>
    <span class="mx-1" *ngFor="let item of userCellar?.attributes?.distribution">{{item.country}} = {{item.max}}%</span>
</div>