<div *ngIf="userCellar" class="container">
  <form (ngSubmit)="onSubmit()" [formGroup]="cellarForm" autocomplete="off">
    <div class="card">
      <div class="card-header fw-bolder p-0">
        <div class="d-flex justify-content-between" style="align-items:baseline">
          <p class="px-3">Cellar</p>
          <a type="button" class="btn btn-link btn-sm px-3">Edit</a>
        </div>
      </div>
      <div class="card-body">
        <div class="d-flex">
          <p>id: {{userCellar?.id}}</p>
          <p>Added on: {{userCellar?.createdAt | date}}</p>
        </div>
        <p>Owner: {{owner?.firstname}} {{owner?.lastname}}</p>

        <div class="d-flex" *ngFor="let attribute of features; index as i">
          <div class="dropdown">
            <button class="btn btn-sm px-2 m-0" [class.dropdown-toggle]="!attribute.readonly" type="button"
              data-bs-toggle="dropdown" aria-expanded="false" style="min-width: 85px;text-align: end;">
              <span *ngIf="attribute.key">{{attribute.key}}:</span>
              <span *ngIf="!attribute.key">Select</span>
            </button>
            <div class="d-inline-block px-2" contenteditable style="min-width: 100px;border: solid lightsteelblue;border-radius: 5px;">{{attribute.value}}</div>
            <!--<input type="text" class="form-control-sm m-0 px-1" id="name">-->
            <ul class="dropdown-menu d-none" [class.d-none]="attribute.readonly" style="margin-top:20px !important">
              <li><span class="dropdown-item" *ngFor="let attribute of cellarAttributes"
                  (click)="onSelectedAttribute(attribute)">{{attribute}}</span></li>
            </ul>
          </div>
          <!--<button type="button" class="btn btn-sm p-0 m-0" (click)="onRemoveNewAttribute(attribute)">
            <span class="material-icons" style="font-size:large;">remove_circle_outline</span>
          </button>-->
        </div>
        <div>
          <button type="button" class="btn btn-sm p-0 m-0"
            [class.disabled]="isAddDisabled ||  cellarAttributes.size == 0" (click)="onAddNewAttribute()">
            <span class="material-icons" style="font-size:large;">add_circle_outline</span>
          </button>
        </div>
      </div>
    </div>
  </form>
  <div class="d-grid gap-sm-2 my-3">
    <button type="button" class="btn btn-outline-secondary">Add Storage</button>
  </div>

</div>

<!--<div class="row">
    <label class="form-control-label">Cellar: {{userCellar?.id}}</label>
    
</div>
<div class="row">
    <label class="form-control-label">Added on: {{userCellar?.createdAt}}</label>
</div>
<div class="row">
    <label class="form-control-label">Owner on: {{owner?.firstname}} {{owner?.lastname}}</label>
</div>
<div class="row">
    <label class="form-control-label">Members subscribed to cellar: {{SubscriberCount()}}</label>
</div>
<div class="row">
    <label class="form-control-label">Cellar size: {{userCellar?.attributes?.size}}</label>
</div>
<div class="">
    <label class="form-control-label">Distribution thresholds:</label>
    <span class="mx-1" *ngFor="let item of userCellar?.attributes?.distribution">{{item.country}} = {{item.max}}%</span>
</div>
-->
