<form class="mb-3" autocomplete="off" [formGroup]="Form" (ngSubmit)="onSubmit()">
    <div class="form-group mt-4">
        <label class="col-sm-2 col-form-label" for="wineOfferingFormControlSelect">Wine Name</label>
        <div class="input-group">
            <span class="input-group-text" id="basic-addon1"
                style="background-color: transparent !important;padding:0pt 2pt !important">
                <span class="material-icons" style="color: gray;">search</span>
            </span>
            <input #keyword [formControl]="searchControl" id="merchant-name" placeholder="" class="form-control"
                type="text" [ngbTypeahead]="search" [resultFormatter]="resultFormatListValue" [focusFirst]="false"
                [inputFormatter]="inputFormatListValue" [editable]="true" (selectItem)="onSearchSelection($event)"
                (click)="onFilterList()" (keyup)="onKeyUp($event,keyword.value)"
                style="border-left: none !important;border-right: none !important;padding:0pt 2pt !important">
            <span class="input-group-text" id="basic-addon1"
                style="background-color: transparent !important;padding:5pt 2pt !important" (click)="onClear()">
                <span class="material-icons" style="color: gray;">close</span>
            </span>
        </div>
    </div>
</form>
<div *ngFor="let wine of wines">
    <div *ngIf="$any(wine).Vintages.length > 0; else elseBlock">
        <div *ngFor="let vintage of $any(wine).Vintages">
            <div class="d-flex mt-4">
                <div [ngStyle]=setStyles(wine.type)>
                    <span class="material-icons">wine_bar</span>
                </div>
                <div class="mx-3">
                    <div>
                        <span class="fw-bold">{{vintage.year}} {{wine.name}}</span><small
                            class="mx-1">&#8212;</small><small class="fw-lighter">{{wine.Region?.name}},
                            {{wine.MasterVarietal?.name}}</small>
                    </div>
                    <div class="d-flex justify-content-between mt-2 mx-3">
                        <div>
                            <span class="material-icons-outlined">insert_comment</span>
                            <span class="p-1" style="vertical-align:top">Note</span>
                        </div>
                        <div>
                            <span class="material-icons-outlined">bookmark_added</span>
                            <span class="p-1" style="vertical-align:top">Wish</span>
                        </div>
                        <div (click)="addWine({vintageId:vintage.id,wine:wine})">
                            <span class="material-icons-outlined">person_add</span>
                            <span class="p-1" style="vertical-align:top">Add</span>
                        </div>
                    </div>
                </div>
            </div>
            <hr />
        </div>
    </div>
    <ng-template #elseBlock>
        <div class="d-flex mt-4" (click)="addWine({wine:wine})">
            <div [ngStyle]=setStyles(wine.type)><span class="material-icons">wine_bar</span></div>
            <div class="mx-3">
                <div>
                    <span class="fw-bold">{{wine.name}}</span><small class="mx-1">&#8212;</small><small
                        class="fw-lighter">{{wine.Region?.name}}, {{wine.MasterVarietal?.name}}</small>
                </div>
            </div>
        </div>
        <hr />
    </ng-template>
</div>