<form class="mb-3" autocomplete="off" [formGroup]="Form" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label class="col-sm-2 col-form-label" for="wineOfferingFormControlSelect">Wine Name</label>
        <div class="input-group">
            <span class="input-group-text" id="basic-addon1" style="background-color: transparent !important;padding:0pt 2pt !important"> 
              <span class="material-icons" style="color: gray;">search</span>
            </span>
            <input #keyword [formControl]="searchControl" id="merchant-name" placeholder="" class="form-control" type="text" 
            [ngbTypeahead]="search" [resultFormatter]="resultFormatListValue" [focusFirst]="false"
            [inputFormatter]="inputFormatListValue" [editable]="true" (selectItem)="onSearchSelection($event)" (click)="onFilterList()" (keyup)="onKeyUp($event,keyword.value)"
            style="border-left: none !important;border-right: none !important;padding:0pt 2pt !important">
            <span class="input-group-text" id="basic-addon1" style="background-color: transparent !important;padding:5pt 2pt !important" (click)="onClear()"> 
              <span class="material-icons" style="color: gray;">close</span>
            </span>
        </div>
    </div>
</form>
<div *ngFor="let wine of wines">
    <div *ngFor="let vintage of $any(wine).Vintages">
        <div class="row">
            <div class="col-8">{{vintage.year}} {{wine.name}}</div>
            <div class="col"><button type="link" class="btn btn-sm">add</button></div>
        </div>
    </div>    
</div>
