<div class="container">
  <div [hidden]="submitted">
    <h1>Role Form</h1>
    <form (ngSubmit)="onSubmit()" [formGroup]="roleForm" autocomplete="off">
      <div class="form-group mb-3">
        <label for="name">Name</label>
        <select class="form-control" id="source"
        formControlName="name" (change)="onRoleChange($event)">    
            <option value="">Select a Role</option>
            <option *ngFor="let role of roles" [value]="role.id">{{role.name}}</option>
        </select>
      </div>
      <div class="d-flex justify-content-between">
        <button type="button" [routerLink]="['/admin/model']" [queryParams]="{name:'role'}"
          class="btn btn btn-outline-dark">Cancel</button>

        <button type="submit" class="btn btn-success" [disabled]="!roleForm.valid">Submit</button>
      </div>
      <div>
        <hr>
        Name via form.controls = {{showFormControls(roleForm)}}
      </div>
    </form>
  </div>
</div>
