<div *ngIf="vintageObject" class="container mt-3">
  <div class="row mt-4 shadow-none p-3 mb-3 bg-light rounded">
    <div class="col mt-3">
      <div style="text-align: normal;">
        <div class="h3 fw-light">{{vintageObject.year}} {{vintageObject.Wine.name}}</div>
      </div>
      <div *ngIf="false" style="text-align-last:right;">
        <button class="btn btn-sm btn-outline-primary">Add Vintage</button>
      </div>
    </div>
  </div>
  <div class="wrapper">
    <div class="input-group">
      <label class="pb-1 form-label fw-lighter" for="name" style="font-size:medium;">Bottle Size</label>
    </div>
    <div class="input-group mb-3">
      <select [(ngModel)]="selectedFormat" class="form-select form-select-sm" (change)="onChange($event)">
        <option *ngFor="let format of formats" [ngValue]="format" [selected]="true">
          {{format.name}}
        </option>
      </select>
      <div class="input-group-append" style="margin: 0 0 0 15pt;">
        <div class="bg-white rounded" style="width: auto;text-align: -webkit-center;">
          <div class="row" style="height: 28pt;">
            <div class="col-4"
              style="background-color:lightgray; border-radius: 5px 0px 0px 5px;padding-top: 5px;">
              <span class="material-icons-outlined" (click)="onAdd()">add</span>
            </div>
            <div class="col-4" style="border-style: solid;border-color: burlywood;padding-top: 4px;">
              <div class="" style="padding-top:3px">
                <span>{{getActiveTabBottleCount}}</span>
              </div>
            </div>
            <div class="col-4"
              style="background-color:lightgray; border-radius: 0px 5px 5px 0px;padding-top: 5px;">
              <span class="material-icons-outlined" (click)="onRemove()">remove</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div [hidden]="submitted">
    <form (ngSubmit)="onSubmit()" [formGroup]="addWineForm">
      <div class="px-sm-5 p-3 bg-white rounded">
        <div class="pb-3 mb-5 bg-white rounded">
          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Purchase Note</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" formControlName="notes"></textarea>
          </div>
          <div class="wrapper">
            <ul class="nav nav-tabs" id="wineTab" role="tablist">
              <li class="nav-item" *ngFor="let tabNav of tabNavCollection" role="presentation">
                <button class="nav-link" [class.active]="isActive(tabNav.size)" 
                        id="{{tabNav.size}}-tab" 
                        data-bs-toggle="tab" 
                        type="button" 
                        role="tab" 
                        [attr.aria-controls]="tabNav.size" 
                        [attr.aria-selected]="isActive(tabNav.size)"
                        (click)="onNavTabClick(tabNav)"
                        style="width: 73.27px !important"
                        >{{tabNav.size}}</button>
                <div *ngIf="isActive(tabNav.size) && tabNavCollection.length > 1" class="position-absolute"
                  style="margin: -35px 73px;" (click)="onDeleteTab(tabNav)">
                  <span class="position-absolute top-100 start-0 translate-middle badge rounded-pill bg-secondary">
                    <span class="material-icons fw-bold" style="font-size: small;">
                      close
                    </span>

                  </span>
                </div>
              </li>
            </ul>
            <div class="tab-content" formArrayName="formatCollection">
              <div class="tab-pane fade" id="{{format.value.size}}" role="tabpanel" 
                [class.show]="isActive(format.value.size)" 
                [class.active]="isActive(format.value.size)"
                *ngFor="let format of formatCollection.controls; index as i" [formGroup] ="getFormatGroup(format)" >
                <div class="form-group mt-3 mb-2">
                  <div class="d-flex justify-content-between">
                    <div class="form-group">
                      <label for="name">Purchased Date</label>
                      <input type="text" class="form-control" formControlName="purchasedDate">
                    </div>
                    <div class="form-group">
                      <label for="name">Delivery Date</label>
                      <input type="text" class="form-control" formControlName="deliveryDate">
                    </div>
                  </div>
                </div>
                <div class="form-group mb-2">
                  <label for="name">Merchant</label>
                  <input type="text" class="form-control" formControlName="merchant">
                </div>
                <div class="form-group">
                  <div class="row">
                    <label class="col-5 col-form-label" style="padding: 0px 12px;">Cost</label>
                    <label class="col-5 col-form-label" style="padding: 0px 12px;">Status</label>
                  </div>
                  <div class="row mb-2">
                    <div class="col-5">
                      <div class="input-group">
                        <span class="input-group-text">$</span>
                        <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)"
                          formControlName="cost">
                      </div>
                    </div>
                    <div class="col-7 py-2">
                      <div class="form-check form-switch" style="align-self:center;">
                        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked"
                          formControlName="status">
                        <label class="form-check-label" for="flexSwitchCheckChecked"> <span
                            class="h6 fw-lighter">Pending
                            Delivery</span></label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="accordion mt-3" id="accordionExample">
                  <div class="accordion-item">
                    <p class="accordion-header" id="headingTwo">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"
                        style="padding: 10px 20px 0 20px;">
                        Storage Location
                      </button>
                    </p>
                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                      data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                        <div *ngIf="format.value.cellarLocationList.length==0 else elseBlock">Add Wine to Collection</div>
                        <ng-template #elseBlock>
                          <table class="table">
                            <thead>
                              <tr>
                                <th scope="col">#</th>
                                <th scope="col">Location</th>
                                <th scope="col">Section</th>
                                <th scope="col">Bin</th>
                                <th scope="col">Action</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let bottle of format.value.cellarLocationList;index as b;" [formGroup] ="getFormatGroup(bottle)">
                                <th scope="row">{{b+1}}</th>
                                <td>
                                  <div class="input-group input-group-sm">
                                    <input type="text" class="form-control" aria-label="Sizing example input"
                                      aria-describedby="inputGroup-sizing-sm" formControlName="location">
                                  </div>
                                </td>
                                <td>
                                  <div class="input-group input-group-sm">
                                    <input type="text" class="form-control" aria-label="Sizing example input"
                                      aria-describedby="inputGroup-sizing-sm" formControlName="section">
                                  </div>
                                </td>
                                <td>
                                  <div class="input-group input-group-sm">
                                    <input type="text" class="form-control" aria-label="Sizing example input"
                                      aria-describedby="inputGroup-sizing-sm" formControlName="bin">
                                  </div>
                                </td>
                                <td><span class="material-icons-outlined mx-2">
                                    delete
                                  </span></td>
                              </tr>
                            </tbody>
                          </table>
                        </ng-template>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--<div class="tab-content" formArrayName="formatCollection">
              <div class="tab-pane fade" [class.show]="true" role="tabpanel" [class.active]="isActive(tabNav.size)"
                *ngFor="let tabNav of tabNavCollection; index as i;" [formGroup]="getFormatCollectionById(i)">
                {{}}
                <div class="form-group mt-3 mb-2">
                  <div class="d-flex justify-content-between">
                    <div class="form-group">
                      <label for="name">Purchased Date</label>
                      <input type="text" class="form-control" formControlName="purchasedDate">
                    </div>
                    <div class="form-group">
                      <label for="name">Delivery Date</label>
                      <input type="text" class="form-control" formControlName="deliveryDate">
                    </div>
                  </div>
                </div>
                <div class="form-group mb-2">
                  <label for="name">Merchant</label>
                  <input type="text" class="form-control" formControlName="merchant">
                </div>
                <div class="form-group">
                  <div class="row">
                    <label class="col-5 col-form-label" style="padding: 0px 12px;">Cost</label>
                    <label class="col-5 col-form-label" style="padding: 0px 12px;">Status</label>
                  </div>
                  <div class="row mb-2">
                    <div class="col-5">
                      <div class="input-group">
                        <span class="input-group-text">$</span>
                        <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)"
                          formControlName="cost">
                      </div>
                    </div>
                    <div class="col-7 py-2">
                      <div class="form-check form-switch" style="align-self:center;">
                        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked"
                          formControlName="status">
                        <label class="form-check-label" for="flexSwitchCheckChecked"> <span
                            class="h6 fw-lighter">Pending
                            Delivery</span></label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="accordion mt-3" id="accordionExample">
                  <div class="accordion-item">
                    <p class="accordion-header" id="headingTwo">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"
                        style="padding: 10px 20px 0 20px;">
                        Storage Location
                      </button>
                    </p>
                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                      data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                        <div *ngIf="getAddBottleCollection.length==0 else elseBlock">Add Wine to Collection</div>
                        <ng-template #elseBlock>
                          <table class="table">
                            <thead>
                              <tr>
                                <th scope="col">#</th>
                                <th scope="col">Location</th>
                                <th scope="col">Section</th>
                                <th scope="col">Bin</th>
                                <th scope="col">Action</th>
                              </tr>
                            </thead>
                            <tbody formArrayName="cellarLocationList">
                              <tr *ngFor="let bottle of getAddBottleCollection;index as b;"
                                [formGroup]="getCellarLocationByIndex(getFormatCollectionById(i),b)">
                                <th scope="row"></th>
                                <td>
                                  <div class="input-group input-group-sm">
                                    <input type="text" class="form-control" aria-label="Sizing example input"
                                      aria-describedby="inputGroup-sizing-sm" formControlName="location">
                                  </div>
                                </td>
                                <td>
                                  <div class="input-group input-group-sm">
                                    <input type="text" class="form-control" aria-label="Sizing example input"
                                      aria-describedby="inputGroup-sizing-sm" formControlName="section">
                                  </div>
                                </td>
                                <td>
                                  <div class="input-group input-group-sm">
                                    <input type="text" class="form-control" aria-label="Sizing example input"
                                      aria-describedby="inputGroup-sizing-sm" formControlName="bin">
                                  </div>
                                </td>
                                <td><span class="material-icons-outlined mx-2">
                                    delete
                                  </span></td>
                              </tr>
                            </tbody>
                          </table>
                        </ng-template>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>-->
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-between">
        <button type="button" [routerLink]="['/search/details/',vintageObject.wineId]"
          class="btn btn btn-outline-dark">Cancel</button>

        <button type="submit" class="btn btn-success" [disabled]="!addWineForm.valid">Submit</button>
      </div>
    </form>
  </div>
</div>
