.dropdown-item{
    /*width: inherit;*/
    white-space: break-spaces;
    
}
.dropdown-menu.show {
    /*position: initial !important;
    inset: auto !important;
    transform: translate3d(0px, 0px, 0px) !important;
    width: 100%;*/
    width: 95%;
}