<div class="container mt-3">
  <p class="h5 mb-5">Add to My Cellar</p>
  <!--{{navData | json}}-->
  <form autocomplete="off" [formGroup]="addWineForm" (ngSubmit)="onSubmit()">
    <div class="row mb-2">
      <div class="col-3 text-muted mb-2">Wine</div>
      <div class="col">
        <div>{{WineName}}</div>
        <div><small class="fw-lighter">{{Region}}</small></div>
        <div><small class="fw-lighter">{{MasterVarietal}}</small></div>
      </div>
    </div>
    <div class="row mb-1">
      <div class="col-3 text-muted mb-1">Status</div>
      <div class="col-auto">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" [checked]="addWineForm.value.state == false"
            (click)="updateStatus()">
          <label class="form-check-label" for="flexRadioDefault1">
            Pending Delivery
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" [checked]="addWineForm.value.state"
            (click)="updateStatus()">
          <label class="form-check-label" for="flexRadioDefault2">
            In My Cellar
          </label>
        </div>
      </div>
    </div>
    <div class="row my-1">
      <div class="col-3 text-muted">Purchased on</div>
      <div class="col">
        <div class="input-group input-group-sm">
          <input type="text" class="form-control"  formControlName="purchasedOn" aria-label="" aria-describedby="">
        </div>
      </div>
    </div>
    <div class="row my-1">
      <div class="col-3 text-muted">Delivery date</div>
      <div class="col">
        <div class="input-group input-group-sm">
          <input type="text" class="form-control" formControlName="deliverBy" aria-label="" aria-describedby="">
        </div>
      </div>
    </div>
    <div class="row my-2">
      <div class="col-3"><span class="text-muted">Vintage</span></div>
      <div class="col">
      <div class="input-group input-group-sm">
        <span class="input-group-text" id="basic-addon1"
            style="background-color: transparent !important;padding:0pt 2pt !important">
            <span class="material-icons" style="color: gray;">search</span>
        </span>
        <input #keyword formControlName="searchControl" id="merchant-name" placeholder="Enter vintage..." class="form-control"
            type="text" [ngbTypeahead]="search" [resultFormatter]="resultFormatListValue" [focusFirst]="false"
            [inputFormatter]="inputFormatListValue" [editable]="true" (selectItem)="onSearchSelection($event)"
            (click)="onFilterList()" (keyup)="onKeyUp($event,keyword.value)"
            style="border-left: none !important;border-right: none !important;padding:0pt 2pt !important">
        <span class="input-group-text" id="basic-addon1"
            style="background-color: transparent !important;padding:5pt 2pt !important" (click)="onClear()">
            <span class="material-icons" style="color: gray;">close</span>
        </span>
    </div>
  </div>
    </div>
    <div class="row my-2">
      <div class="col-3"><span class="text-muted">Number of bottles</span></div>
      <div class="col">
        <input  type="text" class="form-control" formControlName="numOfBottles" aria-label="" aria-describedby="">
      </div>
    </div>
    <div class="row my-2">
      <div class="col-3"><span class="text-muted">Price</span></div>
      <div class="col">
        <div class="input-group input-group-sm">
          <span class="input-group-text">$</span>
          <input  type="text" class="form-control" formControlName="price" aria-label="" aria-describedby="" >
      </div>
      </div>
    </div>
    <div class="row my-2">
      <div class="col-3"><span class="text-muted">Bottle size</span></div>
      <div class="col">
        <select class="form-select form-select-sm" id="format" >
          <option *ngFor="let format of formats" [value]="format.id">{{format.name}}</option>
      </select>
      </div>
    </div>
    <!--<div class="row my-1">
      <div class="col-3" style="display: grid;">
          <div class="d-inline text-muted  mb-2">Vintage</div>
          <div class="d-inline text-muted  mb-2"></div>
          <div class="d-inline text-muted  mb-2">Price</div>
          <div class="d-inline text-muted  mb-2">Bottle size</div>
      </div>
      <div class="col-6" style="display: grid;">
          <div class="input-group input-group-sm  mb-2">
              <select class="form-select form-select-sm" id="vintage" >
                  <option *ngFor="let vintage of vintages" [value]="vintage.id">{{vintage.name}}</option>
              </select>
          </div>
          <div class="input-group input-group-sm mb-2">
              <input  type="text" class="form-control" aria-label="" aria-describedby="">
          </div>
          <div class="input-group input-group-sm  mb-2">
              <span class="input-group-text">$</span>
              <input  type="text" class="form-control" aria-label="" aria-describedby="" >
          </div>
          <div class="input-group input-group-sm  mb-2">
              <select class="form-select form-select-sm" id="format" >
                  <option *ngFor="let format of formats" [value]="format.id">{{format.name}}</option>
              </select>
          </div>
      </div>
    </div>-->
    <hr>
    <div class="d-flex justify-content-between mt-4">
      <button class="btn btn-outline-dark" (click)="onBack()">
        Back
      </button>
      <button class="btn btn-outline-success"  [disabled]="!addWineForm.valid">
        Add data
      </button>
    </div>
  </form>
</div>