<div *ngIf="model$ | async;let modelName" class="container mt-4">
  <app-admin-model-searcher (searchEvent)="searchEvent($event)" [showing]="showing"
      [noMatch]="dataSource.data.length == 0 ? true:false" [clearAction]="clearForm"></app-admin-model-searcher>
  <div *ngIf="!dataSource.data || dataSource.data.length==0 else elseBlock" class="d-flex justify-content-between" style="align-items: baseline;">
    <p class="h6 m-0 p-0"><span>No {{modelName}} Found!</span></p>
    <button class="btn btn-sm btn-primary" style="border-radius:7px" [routerLink]="['./add']"><span
      class="material-icons model-add">
      add_box
    </span>Add {{modelName}}</button>
  </div>
  <ng-template #elseBlock>
    <div class="d-flex justify-content-between mt-3">
      <span class="model-title">{{modelName}} Table</span>
      <button class="btn btn-sm btn-primary" style="border-radius:7px" [routerLink]="['./add']"><span
          class="material-icons model-add">
          add_box
        </span>Add {{modelName}}</button>
    </div>
    <app-admin-model-table [ModelItems]="dataSource.data" [exclusionColumns]="exclusionColumns" [attributes]="displayedColumnsExtendedAttributes"
      (viewOrdeleteEvent)="ViewOrDeleteModelItem($event)" (routeEvent)="subjectRouteLinkEvent($event)"></app-admin-model-table>
  </ng-template>
</div>