<div class="container">
    <div [hidden]="submitted">
        <h1>Variety Form</h1>
        <form (ngSubmit)="onSubmit()" [formGroup]="varietyForm" autocomplete="off">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name"
               formControlName="name">
            </div>
            <div class="d-flex justify-content-between">
                <button type="button" [routerLink]="['/admin/model']" [queryParams]="{name:'variety'}" class="btn btn btn-outline-dark">Cancel</button>
                <button type="submit" class="btn btn-success" [disabled]="!varietyForm.valid">Submit</button>
            </div>
            <div>
                <hr>
                Name via form.controls = {{showFormControls(varietyForm)}}
            </div>
        </form>
    </div>
</div>