<div class="container mt-2 col-sm-6">

    <p class="h5">Profile</p>
    <app-profile-cellar></app-profile-cellar>
<!--
    <h4>Update your account details.</h4>
    <mat-tab-group (selectedTabChange)="onTabChanged($event);">
        <mat-tab label="Personal Information">
            <div class="card mt-3">
                <div class="card-body">
                    <form (ngSubmit)="onSubmit()" [formGroup]="profileForm">
                        <div class="form-group">
                            <div class="row">
                                <div class="col mb-3">
                                    <label class="form-control-label" for="first_name">First Name <span
                                            class="required">*</span></label>
                                    <input class="form-control" id="first_name" name="data[first_name]" type="text"
                                        placeholder="" required="" formControlName="firstname"
                                        value="{{profile?.firstname}}">
                                    <div class="invalid-feedback">
                                        First Name is required
                                    </div>
                                </div>
                                <div class="col mb-3">
                                    <label class="form-control-label" for="last_name">Last Name <span
                                            class="required">*</span></label>
                                    <input class="form-control" id="last_name" name="data[last_name]"
                                        formControlName="lastname" type="text" placeholder="" required=""
                                        value="{{profile?.lastname}}">
                                    <div class="invalid-feedback">
                                        Last Name is required
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group mb-3">
                            <label class="form-control-label" for="data[email]">Primary Email <span
                                    class="required">*</span></label>
                            <div class="controls">
                                <input class="form-control" id="data[email]" name="data[email]" type="email"
                                    formControlName="email" value="{{profile?.email}}">
                            </div>
                            <small class="form-text text-muted">A personal email address is highly recommended due to
                                work related email filtering.</small>
                        </div>
                        <div class="form-group mb-3">
                            <label class="form-control-label" for="data[handler]">Handler <span
                                    class="required">*</span></label>
                            <div class="controls">
                                <input class="form-control" id="data[handler]" name="data[handler]"
                                    formControlName="handler" value="{{profile?.handler}}">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="Cellar">
            <div class="mt-3">
                <div *ngIf="!profile?.cellar">
                    <label *ngIf="!showForm" class="form-control-label">Cellar: <a
                            class="text-decoration-none mx-2 pointer" (click)="onAddCellar()">Add Cellar</a></label>
                    <app-profile-cellar-add-form *ngIf="showForm"></app-profile-cellar-add-form>
                </div>
                <div *ngIf="profile?.cellar">
                    <app-profile-cellar></app-profile-cellar>
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>
-->
</div>