<div class="container mt-2 px-sm-5">
  <p class="h5">Admin Dashboard</p>
  <div class="row">
    <div class="col-sm-3 my-2" *ngFor="let item of modelCollection">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title"><strong>{{item.name}}</strong></h3>
          <p class="card-text">{{item.description}}</p>
          <a class="btn btn-primary" (click)="onNavigateToModel(item.value)">Go</a>
        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>