<ul>
    <li><a routerLink="/admin/model" [queryParams]="{'id':'producer'}">Producers</a></li>
    <li><a routerLink="/admin/model" [queryParams]="{'id':'wine'}">Wines</a></li>
    <li><a routerLink="/admin/model" [queryParams]="{'id':'country'}">Country</a></li>
    <li><a routerLink="/admin/model" [queryParams]="{'id':'region'}">Region</a></li>
    <li><a routerLink="/admin/model" [queryParams]="{'id':'mastervarietal'}">Master Varietal</a></li>
    <li><a routerLink="/admin/model" [queryParams]="{'id':'variety'}">Variety</a></li>
    <li><a routerLink="/admin/model" [queryParams]="{'id':'vintage'}">Vintage</a></li>
</ul>

