<div class="container my-sm-5">
    <div *ngIf="currentUser?.cellar_id && cellarActiveRoute == activeRoute.Dashboard; else elseBlock">
        <div class="row" *ngFor="let item of myCollection">
            {{item | json}}
            <!--<div class="col-auto">{{$any(item).Vintage.year}} {{$any(item).Vintage.Wine.name}} - 
                <span class="text-muted small">{{$any(item).Vintage.Wine.Region.name}}</span></div>
            <div class="col-auto text-muted">{{$any(item).Vintage.Wine.MasterVarietal.name}}</div>-->
            <hr/>
        </div>
    </div>
    <ng-template #elseBlock></ng-template>
    <app-cellar-add-wine [currentUser]="currentUser"  *ngIf="cellarActiveRoute == activeRoute.AddWine"></app-cellar-add-wine>
    <app-cellar-wine-allocation-add [currentUser]="currentUser"  *ngIf="cellarActiveRoute == activeRoute.WineAllocation"></app-cellar-wine-allocation-add>
</div>