<div class="container mt-3">
  <app-admin-model-searcher (searchEvent)="searchEvent($event)" [showing]="showing" [noMatch]="isEmpty"></app-admin-model-searcher>
  <div *ngIf="dataSource.data && dataSource.data.length > 0">
  <div  class="d-flex justify-content-between" style="align-items:baseline">
    <div><h3><strong>Vintage Table</strong></h3></div>
    <div><button class="btn btn-sm btn-link btn-outline-link" [routerLink]="['./add']">Add Vintage</button></div>
  </div>
  <app-admin-model-table
    [ModelItems]="dataSource.data"
    [exclusionColumns]="exclusionColumns"
    (viewOrdeleteEvent)="ViewOrDeleteModelItem($event)"
    ></app-admin-model-table>
  </div>
</div>
