<div class="container">
    <div [hidden]="submitted">
        <h1>Master Varietal Form</h1>
        <form (ngSubmit)="onSubmit()" [formGroup]="mastervarietalForm" autocomplete="off">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name"
               formControlName="name">
            </div>
            <div class="form-group mb-3">
              <label for="name">Color</label>
              <select class="form-control" id="type"
              formControlName="color" (change)="onColorChange($event)">    
                  <option value="">Select a Color</option>
                  <option *ngFor="let color of colors" [value]="color.id">{{color.name}}</option>
              </select>
            </div>
            <div class="form-group mb-3">
              <label for="name">Type</label>
              <select class="form-control" id="type"
              formControlName="type" (change)="onTypeChange($event)">    
                  <option value="">Select a Type</option>
                  <option *ngFor="let type of types" [value]="$any(type).id">{{$any(type).name}}</option>
              </select>
            </div>
            <div class="form-group">
                <mat-form-field class="full-width" appearance="fill">
                    <mat-label>Variety</mat-label>
                    <input type="text" id="parentregion"
                            placeholder="Pick one"
                            aria-label="Number"
                            matInput
                            [formControl]="varietyFormCtrl"
                            [matAutocomplete]="auto">
                    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="displayFn">
                      <mat-option *ngFor="let region of filteredOptions | async" [value]="region">
                        {{region.name}}
                      </mat-option>
                    </mat-autocomplete>
                  </mat-form-field>
                  
                  <mat-slide-toggle
                    [checked]="varietyFormCtrl.disabled"
                    (change)="varietyFormCtrl.disabled ? varietyFormCtrl.enable() : varietyFormCtrl.disable()">
                    Disable Input?
                </mat-slide-toggle>
                   
            </div>
            <div class="form-group">
              <app-core-area-textbox [item]="varietyFormCtrl.value" (addOrRemovedClicked)="onVarietyActionEvent($event)" [events]="eventsSubject.asObservable()"></app-core-area-textbox>
            </div>
            <div class="d-flex justify-content-between">
              <button type="button" [routerLink]="['/admin/model']" [queryParams]="{name:'mastervarietal'}" class="btn btn btn-outline-dark">Cancel</button>
              <button type="submit" class="btn btn-success" [disabled]="!mastervarietalForm.valid">Submit</button>
            </div>
            <div>
                <hr>
                Name via form.controls = {{showFormControls(mastervarietalForm)}}
            </div>
        </form>
    </div>
</div>