#textarea {
    -moz-appearance: textfield-multiline;
    -webkit-appearance: textarea;
    border: 1px solid #ccc;
    border-radius: 4px;
    font: medium -moz-fixed;
    font: -webkit-small-control;
    height: 128px;
    overflow: auto;
    padding: 2px;
    resize: both;
    width: 100%;
}
#item{
    border-radius: 4px;
    width: 100%;
    height: 20px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 16px;
}
