.icon-display-overlay{
    color: #6c757d!important;
    position: relative;
    margin-left: -1.5rem;
    transform: scale(1.25);
}
.icon-display{
    color: #6c757d!important;
    position: relative;
    transform: scale(1);
}