<div class="container">
    <div [hidden]="submitted">
        <h1>Wine Form</h1>
        <form (ngSubmit)="onSubmit()" [formGroup]="wineForm" autocomplete="off">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name"
               formControlName="name">
            </div>
            <div class="form-group">
                <label for="producer">Producer</label>
                <select class="form-control" id="producer"
                formControlName="producer">    
                  <option value="">Select Producer</option>
                  <option *ngFor="let producer of selectProducer" [value]="producer.id">{{producer.name}}</option>
                </select>
            </div>
            
            <div class="form-group">
                <label for="mastervarietal">Master Varietal</label>
                <select class="form-control" id="mastervarietal"
                formControlName="mastervarietal">    
                  <option value="">Select Master Varietal</option>
                  <option *ngFor="let mv of selectMastervarietal" [value]="mv.id">{{mv.name}}</option>
                </select>
            </div>

            <div class="form-group">
                <label for="region">Region</label>
                <select class="form-control" id="region"
                formControlName="region">    
                  <option value="">Select Region</option>
                  <option *ngFor="let region of selectRegion" [value]="region.id">{{region.name}}</option>
                </select>
            </div>
            <div class="d-flex justify-content-between">
                <button type="button" [routerLink]="['/admin/model']" [queryParams]="{name:'wine'}" class="btn btn btn-outline-dark">Cancel</button>
                <button type="submit" class="btn btn-success" [disabled]="!wineForm.valid">Submit</button>
            </div>
            <div (click)="debug()">
                <hr>
                Name via form.controls = {{showFormControls(wineForm)}}
            </div>
        </form>
    </div>
</div>