<div class="container">
    <div [hidden]="submitted">
        <h1>Vintage Form</h1>
        <form (ngSubmit)="onSubmit()" [formGroup]="vintageForm">
          <div class="form-group">
              <mat-form-field class="full-width" appearance="fill">
                  <mat-label>Wines</mat-label>
                  <input type="text" id="wine"
                          placeholder="Pick one"
                          aria-label="Number"
                          matInput
                          [formControl]="vintageFromCtrl"
                          [matAutocomplete]="auto">
                  <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="displayFn">
                    <mat-option *ngFor="let w of filteredOptions | async" [value]="w" (onSelectionChange)="onWineSelection($event)">
                      {{w.name}}
                    </mat-option>
                  </mat-autocomplete>
                  <button type="button" mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="clearTextBox()">
                    <mat-icon>close</mat-icon>
                  </button>
                </mat-form-field>
                <!--
                <button type="button" mat-icon-button>
                  <mat-icon aria-label="Example icon-button with a heart icon">add_circle_outline</mat-icon>
                  <span> Add Vintage</span>
              </button>-->
              <div class="form-group">
                <label for="year">Year</label>
                <input type="text" class="form-control" id="year"
               formControlName="year">
             </div>
              <div class="form-group">
              <app-core-area-textbox [item]="{id:0,name:vintageForm.value.year}" (addOrRemovedClicked)="onVarietyActionEvent($event)" [events]="eventsSubject.asObservable()"></app-core-area-textbox>
            </div>
                <!--
                <mat-slide-toggle
                  [checked]="vintageFromCtrl.disabled"
                  (change)="vintageFromCtrl.disabled ? vintageFromCtrl.enable() : vintageFromCtrl.disable()">
                  Disable Input?
              </mat-slide-toggle>
               -->
          </div>
          <div class="d-flex justify-content-between">
            <button type="button" (click)="onCancel()" class="btn btn btn-outline-dark">Cancel</button>
            <button type="submit" class="btn btn-success" [disabled]="!vintageFromCtrl.valid">Submit</button>
          </div>
            <div>
                <hr>
                Name via form.controls = {{showFormControls(vintageForm)}}
            </div>
        </form>
    </div>
</div>