<div class="container py-1">
    <div class="card">
        <div class="card-boy p-3">
            <div>{{Review.score}} Points</div>
            <p class="h6">{{Review.vintage?.Wine?.name}} {{Review.vintage?.year}}</p>
            <div style="font-weight: 300;" [innerHTML]="userReview"></div>
        </div>
        <div class="card-footer">
            <div><span class="fw-bolder">{{Review.people?.name}}</span> wrote on <span class="text-muted">{{Review.tastingDate|date}}</span></div>
        </div>
    </div>
</div>

