<div class="container">
    <div [hidden]="submitted">
        <h1>Country Form</h1>
        <form (ngSubmit)="onSubmit()" [formGroup]="countryForm">
            <div class="form-group mb-3">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name"
               formControlName="name">
            </div>
            <button type="submit" class="btn btn-success" [disabled]="!countryForm.valid">Submit</button>

            <div>
                <hr>
                Name via form.controls = {{showFormControls(countryForm)}}
            </div>
        </form>
    </div>
</div>