<form [formGroup]="adminForm" autocomplete="off">
    <div class="input-group my-2" [ngStyle]=setStyles>
      <span class="input-group-text" id="basic-addon1" style="background-color: transparent !important;">
        <span class="material-icons" style="color: gray;">search</span>
      </span>
      <input formControlName="name" id="merchant-name" placeholder="" class="form-control" type="text"
       (keyup)="onKeyUp()" (keydown)="onKeyDown()"
        style="border-left: none !important;border-right: none !important">
      <span class="input-group-text" id="basic-addon1" style="background-color: transparent !important;"
        (click)="onClear()">
        <span class="material-icons" style="color: gray;">close</span>
      </span>
    </div>
</form>
<div *ngIf="showing" class="d-flex flex-row-reverse m-0 p-0">
  <p class="text-right text-muted  m-0 p-0">showing: {{showing.limit}} of {{showing.count}}</p>
</div>

<div *ngIf="this.noMatch === 'true'">
  <p class="h4"><strong class="">keyword '{{adminForm.value.name}}' not found!</strong></p>
</div>
<!--
<form [formGroup]="formGroup">
  <input type="text" formControlName="name" (keyup)="onKeyUp()" (keydown)="onKeyDown()">
</form>-->